@import "~tailwindcss/base";
@import "~tailwindcss/components";
@import "~tailwindcss/utilities";
/* Modal */
body,html{
    width: 100%;
    height: 100%;
}
$red: #F64E60;
$blue: #3699FF;
$green: #65DF74;
$yellow: #E8EB62;
$gray: #C4C4C4;
$fondogray: #F3F6F9;
$texto:#B5B5C3;


/* $fondo: bg-gradient-to-r from-green-300 via-blue-500 to-purple-600; */



